.container {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movie {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  background-color: var(--secondary-color);
  margin: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.movie .poster {
  width: 100%;
  height: 250px;
}
.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-details .box {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.movie-details .title {
  width: 160px;
  font-size: 15px;
  text-align: center;
}
.movie-details .overview {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  background-color: #d9dcde;
  opacity: 0.9;
  color: #292f52;
  box-sizing: border-box;
  padding: 1rem;
  transition: all 0.4s ease-in-out;
  overflow-y: auto;
  transform: translateY(101%);
}
.movie-details:hover .overview {
  transform: translateY(0%);
}
.promocontainer {
  padding: 2px 16px;
}
.promo {
  background-color: red;
  color: white;
  padding: 3px;
  font-size: 20px;
}
.addtobasket {
  color: #22205f;
}
.addtobasket:hover {
  cursor: pointer;
}
.cartdash {
  color: #22205e;
}
.cartdash:hover {
  cursor: pointer;
}
